div
    .col-md-4.offset-md-4
        h2.text-center.pt-5
            | 本文

        .nav.justify-content-end
            = link_to 'トピック一覧', topics_path, class: 'nav-link'
            = link_to '編集', edit_topic_path, class: 'nav-link'
            = link_to '削除', @topic, method: :delete, data: { confirm: "このトピックを削除しますか？"}, class: 'nav-link'

        table.table.table-hover
            tbody
                tr
                    th= @topic.title
                tr
                    td= simple_format(h(@topic.body), {}, sanitize: false, wrapper_tag: "div")